// Convert pixels to ems
// eg. for a relational value of 12px write em(12) when the parent is 16px
// if the parent is another value say 24px write em(12, 24)
@function em($pxval, $base: $fzBase) {
  @return ($pxval / $base) * 1em;
}

// Font sizing using rems with a fallback to px in unsupported
// Font-size of 62.5% must be set on body
@mixin font-size($sizeValue: 16){
  font-size: $sizeValue + px;
  font-size: ($sizeValue / 10) + rem;
}


/**
 * Media query
 */
@mixin mq($break-min, $break-max: false) {
    @if $break-max == false {
        @media (min-width: $break-min) {
            @content;
        }
    } @else if $break-min == false {
        @media (max-width: $break-max - 1px) {
            @content;
        }
    } @else {
        @media (min-width: $break-min) and (max-width: $break-max - 1px) {
            @content;
        }
    }
}


@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0,-4px,0);
  }
}

.bounce {
  animation-name: bounce;
  transform-origin: center bottom;
}
