.article {
	&__header {

	}

	&__exit {
		display: block;
		text-align: right;
		margin-bottom: em(20);
	}

	&__hero-body {
		width: 100%;
		margin: 0 auto em(20);
	}

	&__title {
		@extend #{nth($headings,1)};
		margin-bottom: 0;
	}

	&__subtitle {
		@extend #{nth($headings,2)};
		margin-bottom: em(20,nth($headingSizes,2));
	}

	&__content {
		margin-top: em(15);
		margin-bottom: em(30);
	}
}
