.btn {
	@extend %btn;

	&--primary {
		@extend .btn;
		$fz: 14;
		@include font-size($fz);
		background-color: lighten($color1,5%);
		color: white;
		padding: em(5,$fz) em(10,$fz);

		&:hover {
			background-color: $color1;
		}
	}

	&--link {
		position: absolute;
		top: 0;
		right: 0;
	}
}