.card {
	display: flex;
	flex-direction: column;
	transition: background-color 0.15s linear;
	padding: em(20);
	width: 100%;
	border: 1px solid transparent;

	&:hover {
		border: 1px solid rgba($color2,0.6);
	}

	// This is the encompassing list element that wraps all the cards. Only connected because
	// of flexbox and the fact that for our matching heights to work we need this to be intrinsically
	// connected to the its children.
    &__list {
		display: flex;
	}

	&__wrap {
		display: flex;
		width: 100/3 * 1%;
	}

	&__image {
		height: em(160);
		object-fit: cover;
		margin-bottom: em(15);
	}

	&__title {
		$fz: 20;
		font-size: em($fz);
		margin-bottom: em(10,$fz);
		font-weight: 300;
		flex-grow: 1;
	}

	&__author {
		$fz: 14;
		@include font-size($fz);
	}

	&__content {
		$fz: 14;
		font-size: em($fz);
	}
}