$labelWidth: 120;

.form {
	width: em(600);
	margin: 0 auto;
	max-width: 100%;

	&__control {
		display: block;
		margin-bottom: em(15);

		&:after, &:before {
			content: "";
			display: table;
			clear: both;
		}
	}

	&__label {
		width: em($labelWidth);
		float: left;
		padding: em(7) em(15) 0 0;
	}

	&__input-wrap {
		width: calc(100% - #{em($labelWidth)});
		overflow: hidden;
		position: relative;
	}

	&__input {
		@extend %textarea;
		display: block;
	}

	&__textarea {
		@extend %textarea;
	}

	&__submit {
		text-align: right;
	}

	&__listing-btn {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
	}

	&__listing {
		text-align: right;
	}
}