.c-side-bar {
  background: $nav-light-background-color;

  &__menu{
    padding-top: 2em;
    &-list{
      display: flex;
      flex-direction: column;
      text-align:left;
      li{
        margin: 0 0 .2em;
        padding: .8em;
        &:hover {
          @extend .router-link-exact-active;
        }
      }
    }
  }
}
