.c-card-info {

  &__content {
    padding: 2em;
    text-align: left;

    &-resources{
      display: flex;
      flex-direction: column;

      li {
        display: flex;
        flex-direction: column;
      }
    }
  }
  .back {
    float: left;
    margin: 1em;
  }
}
