body {
  font-family:$text-font-family;
  font-weight: $text-font-weight;
  font-size: 1.06rem; // 17px
  color: $brand-color-light-contrast;
  background-color: $brand-color-light;
}

p {
  // line-height: $text-line-height;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

}
.columns {
  margin: 0 0 0 0!important;
}

li,
a,
button{
  cursor: pointer;
}
.router-link-exact-active{
  background:$nav-background-color;
  color: #fff;
}
