/* Slate Std Light */
@font-face {
  font-family:"Slate W02_n2";
  src: url("/static/fonts/6584fb46-f040-40bc-8495-80b633099ef1.eot?#iefix") format("eot")
}
@font-face {
  font-family:"Slate W02";
  src: url("/static/fonts/6584fb46-f040-40bc-8495-80b633099ef1.eot?#iefix");
  src: url("/static/fonts/6584fb46-f040-40bc-8495-80b633099ef1.eot?#iefix") format("eot"), url("/static/fonts/f5b01288-ecb7-42f6-9008-f80d980b6d3b.woff2") format("woff2"), url("/static/fonts/e63dc4c8-ed53-496b-92f1-bd96d2e76acb.woff") format("woff"), url("/static/fonts/84ecc0a4-9bf9-434d-b3ff-6ff890b98c48.ttf") format("truetype"), url("/static/fonts/95785d8c-a402-4f98-a1b8-09570cdacb0b.svg#95785d8c-a402-4f98-a1b8-09570cdacb0b") format("svg");
  font-weight: 200;
  font-style: normal;
}

/* Slate Std Regular */
@font-face {
  font-family:"Slate W02_n4";
  src: url("/static/fonts/3f29ff45-96ba-4d74-81a0-aab57678f9ae.eot?#iefix") format("eot")
}
@font-face {
  font-family:"Slate W02";
  src: url("/static/fonts/3f29ff45-96ba-4d74-81a0-aab57678f9ae.eot?#iefix");
  src: url("/static/fonts/3f29ff45-96ba-4d74-81a0-aab57678f9ae.eot?#iefix") format("eot"), url("/static/fonts/b10bea79-faef-4c42-9a70-f3dd3c6f41b5.woff2") format("woff2"), url("/static/fonts/fa0a7352-96a0-4456-90fc-1172077fb867.woff") format("woff"), url("/static/fonts/320893a4-be06-4426-965c-89f8fc9be5a0.ttf") format("truetype"), url("/static/fonts/b761e278-26a5-42f8-872a-cc207483925b.svg#b761e278-26a5-42f8-872a-cc207483925b") format("svg");
  font-weight: 400;
  font-style: normal;
}

/* Slate Std Medium */
@font-face {
  font-family:"Slate W02_n5";
  src: url("/static/fonts/b939fb40-570a-4c1f-8f30-6f0882491646.eot?#iefix") format("eot")
}
@font-face {
  font-family:"Slate W02";
  src: url("/static/fonts/b939fb40-570a-4c1f-8f30-6f0882491646.eot?#iefix");
  src: url("/static/fonts/b939fb40-570a-4c1f-8f30-6f0882491646.eot?#iefix") format("eot"), url("/static/fonts/55c900fc-94d6-4ded-88c9-4c7b92c98dbb.woff2") format("woff2"), url("/static/fonts/2c38e7a9-b4b2-4f46-8157-c21441e4baed.woff") format("woff"), url("/static/fonts/fedf11ab-160f-4d6f-9d33-9fefb2ccb46c.ttf") format("truetype"), url("/static/fonts/445f9d1b-7b1f-4de7-8917-9b5290af9e94.svg#445f9d1b-7b1f-4de7-8917-9b5290af9e94") format("svg");
  font-weight: 500;
  font-style: normal;
}

/* Slate Std Bold */
@font-face {
  font-family:"Slate W02_n7";
  src: url("/static/fonts/50763479-fef5-49d8-9d5c-95238157f7f4.eot?#iefix") format("eot")
}
@font-face {
  font-family:"Slate W02";
  src: url("/static/fonts/50763479-fef5-49d8-9d5c-95238157f7f4.eot?#iefix");
  src: url("/static/fonts/50763479-fef5-49d8-9d5c-95238157f7f4.eot?#iefix") format("eot"), url("/static/fonts/b0745480-a087-4453-8140-11f09d692001.woff2") format("woff2"), url("/static/fonts/81011252-9f90-4a25-a240-ec9e5d25168e.woff") format("woff"), url("/static/fonts/4f30acd1-135b-49b8-9292-c1f1f8bd6989.ttf") format("truetype"), url("/static/fonts/8b028779-2ca6-4251-9633-ad221493cc79.svg#8b028779-2ca6-4251-9633-ad221493cc79") format("svg");
  font-weight: 700;
  font-style: normal;
}
