%hN {
    display: inline-block;
    width: 100%;
    margin-bottom: 0.5em;
    text-rendering: optimizeLegibility;
    line-height: $text-line-height;
    font-weight: $text-font-weight-regular;
    a {
        color: inherit;
        text-decoration: none;
    }
}
h1 {
    font-size:$text-font-size-super;
    @extend %hN;
}

h2 {
    font-size: $text-font-size-xlarge;
    @extend %hN;
}

h3 {
    font-size: $text-font-size-small;
    @extend %hN;
}

h4 {
    font-size:$text-font-size-large ;
    @extend %hN;
}

h5 {
    font-size: $text-font-size-medium;
    @extend %hN;
}

h6 {
      font-size: $text-font-size-small;
    @extend %hN;
}
