$color-black: #111111 !default;
$color-white: #FFFFFF !default;
$color-beige: #F2F2EA !default;
$color-red: #EF4F52 !default;
$color-pink: #EC65C3 !default;
$color-purple: #AB47BC !default;
$color-blue: #42A5F5 !default;
$color-green: #66BB6A !default;
$color-yellow: #F6ED30 !default;
$color-orange: #FF7043 !default;
$color-brown: #8D6E63 !default;
$color-grey: lighten($color-black, 70) !default;

$brand-color-dark: #586370;
$brand-color-dark-contrast: #fff;
$brand-color-medium: #CDECED;
$brand-color-medium-contrast: #58636F;
$brand-color-light: #fff;
$brand-color-light-contrast: #111;

$text-font-family: 'Slate W02', sans-serif;
$text-font-weight-light: 200;
$text-font-weight-regular: 400;
$text-font-weight-medium: 500;
$text-font-weight-heavy: 700;
$text-font-weight: $text-font-weight-light;
$text-line-height: 1.55 !default;
$text-font-size-super: 3rem;
$text-font-size-xlarge: 2rem;
$text-font-size-large: 1.125rem;
$text-font-size-medium: 1rem;
$text-font-size-small: 0.9rem;
$text-font-size-xsmall: 0.7rem;

$nav-background-color: $brand-color-dark;
$nav-item-padding: 1em;

$spacing-tiny: .1rem;
$spacing-xsmall: .3rem;
$spacing-small: .5rem;
$spacing-medium: 1rem;
$spacing-large: 1.5rem;
$spacing-xlarge: 2rem;
$spacing-super: 3rem;

$nav-width: 100% !default;
$nav-padding: 0 !default;
$nav-margin: 0 !default;
$nav-background-color: $color-black !default;
$nav-color: $color-white !default;
// $nav-z-index: $z-over-page !default;

$nav-light-background-color: $color-beige !default;
// $nav-light-color: $color-darker-brown !default;

$nav-item-padding: $spacing-medium !default;
$nav-item-letter-spacing: 1px !default;
